<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- NicoReader.app: pacchetto-mac.sh sostituisce @VERSIONE@ -->
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>NicoReader</string>
	<key>CFBundleDisplayName</key>
	<string>NicoReader</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.nicgnello-cyber.nicoreader</string>
	<key>CFBundleExecutable</key>
	<string>nicoreader</string>
	<key>CFBundleIconFile</key>
	<string>nicoreader</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSIONE@</string>
	<key>CFBundleVersion</key>
	<string>@VERSIONE@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>it</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>it</string>
		<string>en</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
